@font-face {
  font-family: 'FarAwayGalaxy';
  src: url('/fonts/Programma.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'FarAwayGalaxy';
  src: url('/fonts/Programma.woff') format('woff2');
  font-weight: normal;
}

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'FarAwayGalaxy', 'Gill Sans', sans-serif;
}